
<div class="alert alert-dark" role="alert">
  Add New User
</div>
<form class="row g-3">
  <div class="col-md-6">
    <label for="inputFirstName" class="form-label">First Name</label>
    <input type="text" class="form-control">
  </div>
  <div class="col-md-6">
    <label for="inputLastName" class="form-label">Last Name</label>
    <input type="text" class="form-control">
  </div>
  <div class="col-md-6">
    <label for="inputUserRole" class="form-label">User Role</label>
    <select id="inputUserRole" class="form-control">
      <option selected>Choose...</option>
      <option>Admin</option>
      <option>User</option>
    </select>
  </div>
  <div class="col-12">
    <label for="inputUserName" class="form-label">User Name</label>
    <input type="text" class="form-control"  placeholder="">
  </div>
  <div class="col-md-12">
    <label for="inputUserEmail" class="form-label">Email</label>
    <input type="email" class="form-control"  placeholder="@">
  </div>
  <div class="col-md-6">
    <label for="inputCity" class="form-label">Password</label>
    <input type="password" class="form-control" >
  </div>
  <div class="col-md-6">
    <label for="inputCity" class="form-label">Confirm Password</label>
    <input type="password" class="form-control" >
  </div>
  <div class="col-md-4">
    <label for="inputState" class="form-label">User photo</label>
    <select id="inputState" class="form-control">
      <option selected>Choose...</option>
      <option>...</option>
    </select>
  </div>
  <div class="col-12">
    <div class="form-check">
      <input class="form-check-input " type="checkbox">
      <label class="form-check-label  " for="gridCheck">
        I accept Terms of Use
      </label>
    </div>
  </div>
  <div class="col-md-12">
    <button type="submit" class="btn btn-secondary">Add User</button>
  </div>
</form>
