<p>
  <mat-toolbar>
   <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>CMS-FourAll</span>
  <span class="header-spacer"></span>
  <button mat-icon-button color="black" title="exit to app">
    <mat-icon>exit_to_app</mat-icon>
  </button>
  <button mat-icon-button color="black" title="Mange accounts setting">
    <mat-icon>manage_accounts</mat-icon>
  </button>
  <button mat-icon-button color="black" title="user account photo">
    <mat-icon>account_circle</mat-icon>
  </button>

</mat-toolbar>
</p>
