<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet>
  <app-header></app-header>
  <div class="cms-nav">
    <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Community setting</a>
    </li>
    <li class="nav-item">
      <a class="nav-link "  >Member</a>
    </li>
    <li class="nav-item">
      <a class="nav-link "  >Professional experience</a>
    </li>
    <li class="nav-item">
      <a class="nav-link "  >Education </a>
    </li>
    <li class="nav-item ">
      <a class="nav-link ">Education</a>
    </li>
  </ul>
  </div>
  <div class="row">
    <div class="col-md-2">
     <p>User</p>
     <p>Country</p>
     <p></p>
    </div>
    <div class="col-md-10">
      <div>
        <div class="col-md-10">
          <!-- <app-user-add></app-user-add>-->
          <app-user-list></app-user-list>
          <app-user-delete></app-user-delete>
        </div>
      </div>
    </div>
  </div>
</router-outlet>
