<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<app-header></app-header>
<div class="card text-center">
<div class="chard-header">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" routerLink="/user/list" routerLinkActive="active">User</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/continent/continent" routerLinkActive="active" >Continent</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="country/countries"  routerLinkActive="active">Country</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">Member</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">Payment</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">Programme(Event)</a>
    </li>
  </ul>
</div>
</div>
<div class="card-body container">
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
    <router-outlet></router-outlet>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
</div>
