  <div class="alert alert-success" role="alert">
    <h4 class="alert-heading">CMS-Ethiopian</h4>
    <p>Community management system(Community management system)-Ethiopian is a platform for managing all ethiopian diaspora relationships  
      and interactions with community.</p>
      
    
    <p></p>
    <p>CMS-Ethiopian helps community to stay connected to each other
      <ul class="list-group list-group-horizontal">
        <li class="list-group-item">Goal</li>        
        <li class="list-group-item">Improve community relationships and information sharing</li>
      </ul>
      <ul class="list-group list-group-horizontal-sm">
        <li class="list-group-item">Objective</li>
        <li class="list-group-item">Helps community to stay connected to each other</li>
      </ul>
      <ul class="list-group list-group-horizontal-sm">
        <li class="list-group-item">Functionality</li>
        <li class="list-group-item"> <p> The CMS-Ethiopian tool organises this information to give you a complete record of individuals and community overall, 
          so you can better understand your relationship over time.</p>
          <p> CMS-Ethiopian platform can also connect to other community that help you to develop community relationshiops</p></li>
      </ul>
      <ul class="list-group list-group-horizontal-sm">
        <li class="list-group-item">Settings</li>
        <li class="list-group-item">Helps community to stay connected to each other</li>
      </ul>
      <hr>
    <p class="mb-0">[ToDo]</p>
  </div>
  